.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #111;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .logo::before {
  content: "</>";
  color: #007bff;
  margin-right: 0.5rem;
} */
