nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(166, 164, 164, 0.1);
}

.logo-content {
  font-size: 1.3rem;
  font-weight: bold;
}

.logo-content a {
  color: rgb(57, 53, 53);
  text-decoration: none;
}

.logo-content a:hover {
  text-decoration: none;
}

.link-page-content {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.link-page-content a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
 background-color: #ffffff30;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none;
}

.link-page-content a:hover {
  background-color: #060606ea;
  color: #ffffff;
}

.active-link {
  background-color: #ffffff30;
  color: #2f3cef;
}

.theme-toggle {
  background: rgba(0, 0, 0, 0.063);
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.theme-toggle:hover {
  background-color: #060606ea;
  color: #ffffff;
}

.mobile-menu-button {
  display: none;
  background: transparent;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1.5rem;
}

/* Mobile Responsive */
@media (max-width: 1024px) {

.logo-content {
  font-size: 1.1rem;
  
}

  .link-page-content {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #8996c0;
    flex-direction: column;
    gap: 0;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-150%);
    transition: transform 0.3s ease;
    z-index: 999;
  }

  .link-page-content.mobile-open {
    transform: translateY(0);
  }

  .link-page-content a {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0;
    justify-content: flex-start;
  }

  .mobile-menu-button {
    display: block;
  }

  .theme-toggle {
    margin-top: 1rem;
    padding: 1rem;
  }
}